# all git submodules
[submodule "T3INF2002-Compilerbau"]
	path = T3INF2002-Compilerbau
	url = https://github.com/philippgehrig/T3INF2002-Compilerbau.git
	branch = main
[submodule "T3INF2003-Web-Engineering"]
	path = T3INF2003-Web-Engineering
	url = https://github.com/philippgehrig/T3INF2003-Web-Engineering.git
	branch = main
[submodule "T3INF2004-Datenbanken-I"]
	path = T3INF2004-Datenbanken-I
	url = https://github.com/philippgehrig/T3INF2004-Datenbanken-I.git
	branch = main
[submodule "T3INF2005-Technische-Informatik-II"]
	path = T3INF2005-Technische-Informatik-II
	url = https://github.com/philippgehrig/T3INF2005-Technische-Informatik-II.git
	branch = main
[submodule "T3INF3001-Advanced-Software-Engineering"]
	path = T3INF3001-Advanced-Software-Engineering
	url = https://github.com/philippgehrig/T3INF3001-Advanced-Software-Engineering.git
	branch = main
[submodule "T3INF4252-Messdatenerfassung"]
	path = T3INF4252-Messdatenerfassung
	url = https://github.com/philippgehrig/T3INF4252-Messdatenerfassung.git
	branch = main
[submodule "T3INF4901-Autonomes-Fahren"]
	path = T3INF4901-Autonomes-Fahren
	url = https://github.com/philippgehrig/T3INF4901-Autonomes-Fahren.git
	branch = main
[submodule "T3INF4902-DevOps"]
	path = T3INF4902-DevOps
	url = https://github.com/philippgehrig/T3INF4902-DevOps.git
	branch = main
[submodule "T3INF4309-FAS"]
	path = T3INF4309-FAS
	url = https://github.com/philippgehrig/T3INF4309-FAS.git
	branch = main
[submodule "T3INF1004-Software-Engineering"]
	path = T3INF1004-Software-Engineering
	url = https://github.com/philippgehrig/T3INF1004-Software-Engineering.git
	branch = main
[submodule "T3INF4308-GPS"]
	path = T3INF4308-GPS
	url = https://github.com/philippgehrig/T3INF4308-GPS.git
	branch = main
[submodule "T3-3101-Studienarbeit"]
	path = T3-3101-Studienarbeit
	url = https://github.com/philippgehrig/T3-3101-Studienarbeit.git
[submodule "T3INF3002-IT-Security"]
	path = T3INF3002-IT-Security
	url = https://github.com/philippgehrig/T3INF3002-IT-Security.git
[submodule "T3INF1006-Technische-Informatik-I"]
	path = T3INF1006-Technische-Informatik-I
	url = https://github.com/philippgehrig/T3INF1006-Technische-Informatik-I.git
[submodule "T3INF1001-Mathematik-I"]
	path = T3INF1001-Mathematik-I
	url = https://github.com/philippgehrig/T3INF1001-Mathematik-I.git
[submodule "T3INF1002-Theoretische-Informatik-I"]
	path = T3INF1002-Theoretische-Informatik-I
	url = https://github.com/philippgehrig/T3INF1002-Theoretische-Informatik-I.git
[submodule "T3INF1003-Theoretische-Informatik-II"]
	path = T3INF1003-Theoretische-Informatik-II
	url = https://github.com/philippgehrig/T3INF1003-Theoretische-Informatik-II.git
[submodule "T3INF1005-Key-Qualifications"]
	path = T3INF1005-Key-Qualifications
	url = https://github.com/philippgehrig/T3INF1005-Key-Qualifications.git
[submodule "T3INF2002-Theoretische-Informatik-III"]
	path = T3INF2002-Theoretische-Informatik-III
	url = https://github.com/philippgehrig/T3INF2002-Theoretische-Informatik-III.git
[submodule "T3INF2001-Mathematik-II"]
	path = T3INF2001-Mathematik-II
	url = https://github.com/philippgehrig/T3INF2001-Mathematik-II.git
